{% extends 'base.html' %}

{% block content%}

<h1>{{ pet.pet_name }}</h1>

{% if pet.pet_image %}
<img class="img-fluid" src="{{ pet.pet_image }}">
{% endif %}

<h2> Update Pet Information </h2>

<form action="" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    
    <div class='form-group'>
        {{ field.label }}
        {{ field(class = "form-control" "form-check-label mb-3") }}
    </div>
    {% endfor %}
    <button class="btn btn-primary" type="submit">Update</button>
</form>

{% endblock %}